.mainContainer{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.leftSide{
    border: 2px solid blue;
    display:  grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr;
}

.title{
    border: 2px solid black;
    grid-column: 1/3;
    grid-row: 1/2;
}

.quickAccesGroup{
    border: 2px solid black;
    grid-column: 2/3;
    grid-row: 2/3;
}

.configGroup{
    border: 2px solid black;
    grid-column: 2/3;
    grid-row: 3;    
}

.rightSide{
    border: 2px solid red;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5,1fr);
}

.navContainer{
    border: 2px solid orange;
    margin: 5px;

    grid-column: 1/6;
    grid-row: 1/2;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
}

/* .navContainer > div{
    border: 1px solid black;
} */

.searchBar{
    grid-column: 1/3;
}

.userDisplay{
    grid-column: 1/3;
}

.cardContainer{
    border: 2px solid greenyellow;
    margin: 5px;

    grid-column: 1/5;
    grid-row: 2/6;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    gap: 30px;
}

.cardContainer > h3{
    grid-column: 1/3;
    margin-bottom: -30px;
    margin-left: 15px;
}

.cardContainer > div {
    border: 2px solid brown;
    margin: 5px;
    margin-left: 15px;
}

.sidebarContainer{
    /* border: 2px solid orchid; */
    margin: 5px;

    grid-row: 2/6;
    grid-column: 5/6;

    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 50px;
}

.announcementsContainer{
    border: 2px solid black;
    display: grid;
}

.trendingContainer{
    border: 2px solid red;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

.trendingContainer > div{
    margin-left: 20px;
}

ul, li{
    list-style: none;
}