.mainContainer{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.leftSide{
    border: 2px solid blue;
}

.rightSide{
    border: 2px solid red;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
}

.navContainer{
    border: 2px solid orange;
    margin: 5px;

    grid-column: 1/4;
}

.cardContainer{
    border: 2px solid greenyellow;
    margin: 5px;

    grid-column: 1/3;
}

.cardContainer > div {
    border: 2px solid brown;
    margin: 5px;
}

.sidebarContainer{
    border: 2px solid orchid;
    margin: 5px;
}